div {
    margin: 0 auto;
    width: 370px;
}

h1 {
    color: brown;
    text-align: center;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    border: 1px solid lightgray;
    padding: 10px;
}

td.multiplier_1, td.multiplier_3 {
    background-color: cornsilk;
}

td.multiplier_2 {
    background-color: darkseagreen;
}